__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
*.egg
venv/
*.log

*.dockerignore
docker-compose.override.yml
docker-compose.override.yaml
*.log
*.pid
*.sock
*.out
airflow.db        # local SQLite database (jika dipakai)
logs/             # folder logs runtime Airflow
tmp/              # folder temp Airflow DAGs
*.pid             # PID file
.vscode/
.idea/
requirements.txt
step.txt

logs/*